<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="task">
            <p>Me despierto, voy a la universidad de 7 a 6 de la tarde y luego voy a clase de programacion</p>
            <img height="200"  src="sol10.png" alt="">
        </div>
        <div class="task">
            <p>De igual forma me despierto y voy a la universidad de 8 a 11 de la mañana, voy al gimnasio, descanso
                un rato y voy a clases de programacion</p>
                <img height="200"  src="sol10.png" alt="">
        </div>
        <div class="task">
            <p>Me despierto voy a la universidad de 7 a 6 de la tarde y cuando llego a mi casa voy al gimnasio</p>
            <img height="200"  src="sol10.png" alt="">
        </div>
        <div class="task">
            <p>Me despieto y voy a la universidad de 11 a 1 luego llego a mi casa duermo un rato para luego ir al gimnasio y dar clases de programacion</p>
            <img height="200"  src="sol10.png" alt="">
        </div>
        <div class="task">
            <p>El dia de hoy no tengo clases asi que me despierto a cualquier hora para ir al gimnasio, luego trato de repasar lo visto durante la semana en la universidad y si acaso salir un rato</p>
            <img height="200"  src="sol10.png" alt="">
        </div>
        <div class="task">
            <p>De igual que el viernes no tengo clases asi que me despierto a cualquier hora para ir al gimnasio, luego salgo ya sea con mi novia o algun plan con amigos</p>
            <img height="200"  src="sol10.png" alt="">
        </div>
</body>
</html>